<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
		        	<li><a href="/about me">about me</a></li>
	        		<li><a href="/posts">posts</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ziyanzhang0206@gmail.com">my email</a></li>
	        		<li><a href="https://github.com/ziyan1996">github.com/ziyan1996</a></li>
				</ul>
			</footer>
		</body>
	</html>
